/**
* FiliPay Live Chat Custom SCSS
* This will apply on everything. Good for global styles.
* 
* @developer Alfredo Flores
* @email alfredo@xerosoft.com
*/

@import "./bootstrap/variables";
@import "./bootstrap/custom/switches";
@import "./vue-components/datepicker";
@import "./vue-components/dropdown";
@import "./vue-components/drawer";
@import "./vue-components/popper";
@import "./layouts/admin";

html,
body,
#xerodesk-portal {
  background: #f5f5f5;
  scroll-behavior: smooth;
}

.notif-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 85px;
  height: 100%;
  width: 100%;
  z-index: 1030;
  pointer-events: none;

  display: flex;
  // align-items: flex-end;
  justify-content: flex-end;

  padding: 1rem 1rem;

  .notif-group {
    max-width: 450px;
    width: 100%;

    .notif {
      pointer-events: all;
      color: #fff;
      border-radius: 0.25rem;

      &:not(:first-of-type) {
        margin-top: 1rem;
      }
    }
    .notif-header {
      display: flex;
      justify-content: space-between;
      padding: 0.5rem 0.75rem;
      border-bottom: 1px solid rgba($color: #fff, $alpha: 0.5);

      .notif-title {
        display: flex;
        align-items: center;
      }

      .close {
        color: rgba($color: #fff, $alpha: 0.5);
      }
    }
    .notif-body {
      padding: 0.5rem 0.75rem;
    }
  }

  .staggered-enter-active {
    transition-property: all;
    transition-duration: 300ms;
    transition-timing-function: ease-out;
  }
  .staggered-enter {
    transform: translateX(2rem);
    opacity: 0;
  }
  .staggered-enter-to {
    transform: translateX(0);
    opacity: 1;
  }

  .staggered-leave-active {
    transition-property: all;
    transition-duration: 300ms;
    transition-timing-function: ease-in;
  }
  .staggered-leave {
    transform: translateX(0);
    opacity: 1;
  }
  .staggered-leave-to {
    transform: translateX(2rem);
    opacity: 0;
  }

  .staggered-move {
    transition-property: all;
    transition-duration: 300ms;
    transition-timing-function: ease-in;
  }
}

/* .date-picker {
  .date-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.15);
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .date-content {
    background: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    transition: all 100ms ease;

    .date-meta {
      color: #fff;
      text-align: center;

      .day {
        background: #002868;
        padding: 0.52rem 0;
        font-size: 0.75rem;
        font-weight: 700;
      }
      .month {
        background: #35588e;
        padding: 10px 0 0;
        text-transform: uppercase;
      }
      .date {
        background: #35588e;
        padding: 0 0;
        font-size: 3rem;
        font-weight: 500;
        line-height: 3rem;
      }
      .year {
        background: #35588e;
        padding: 0 0 10px;
      }

      .arrow {
        color: rgba($color: #002868, $alpha: 0.5);
        font-weight: 700;

        &:hover {
          color: #002868;
        }
      }
    }

    .date-body {
      padding: 1rem;

      .days {
        display: grid;
        grid-template-columns: repeat(7, 1fr);

        .active {
          background: #002868;
          color: #ffffff;
          border-radius: 100%;
        }

        span {
          height: 2rem;
          width: 2rem;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }

  .fade-enter-active,
  .fade-leave-active {
    .date-content {
      opacity: 1;
      transform: scale(1);
    }
  }

  .fade-enter,
  .fade-leave-to {
    .date-content {
      opacity: 0;
      transform: scale(0.85);
    }
  }
}

.time-picker {
  .time-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.15);
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .time-content {
    background: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    transition: all 100ms ease;

    .time-meta {
      color: #fff;
      text-align: center;

      .time-meta-1 {
        background: #002868;
        padding: 0.52rem 0;
        font-size: 0.75rem;
        font-weight: 700;
      }
      .time-meta-2 {
        background: #35588e;
        padding: 1rem 2rem;
        display: flex;
        align-items: center;
        justify-content: center;

        .text {
          font-size: 3rem;
          font-weight: 500;
          line-height: 3rem;

          &.amp {
            margin-bottom: 0.5rem;
          }
        }
      }

      .arrow {
        color: rgba($color: #002868, $alpha: 0.5);
        font-weight: 700;

        &:hover {
          color: #002868;
        }
      }
    }
    .time-body {
      padding: 1rem;

      .days {
        display: grid;
        grid-template-columns: repeat(7, 1fr);

        .active {
          background: #002868;
          color: #ffffff;
          border-radius: 100%;
        }

        span {
          height: 2rem;
          width: 2rem;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }

  .fade-enter-active,
  .fade-leave-active {
    .time-content {
      opacity: 1;
      transform: scale(1);
    }
  }

  .fade-enter,
  .fade-leave-to {
    .time-content {
      opacity: 0;
      transform: scale(0.85);
    }
  }
} */

.card-picture {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-bottom: 1.25rem;
}

.card-picture-container {
  max-height: 175px;
  max-width: 175px;
  height: 100%;
  width: 100%;
  border-radius: 100%;
  border: 5px solid #ffffff;
  position: relative;
  margin: 0 auto 1rem;
  overflow: hidden;

  img {
    height: 175px;
    width: 175px;
  }

  button {
    background: rgba($color: #000, $alpha: 0.5);
    color: #fff;
    height: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: all 100ms ease-in;
    outline: none;
    border: none;

    &:hover {
      background: rgba($color: #000, $alpha: 0.75);
    }
  }

  .loader {
    background: rgba($color: #000, $alpha: 0.5);
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: all 100ms ease-in;
    outline: none;
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &:hover {
    button {
      opacity: 1;
    }
  }
}

.tag-container {
  .tag-lookup {
    font-size: 1rem;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 0.25rem;
    margin-top: 2.5px;
    padding: 0.25rem 0;

    .list-unstyled {
      margin: 0;

      li {
        padding: 0.25rem 1.25rem;

        &.list-item:hover {
          background: #cccccc;
        }
      }
    }
  }

  .tag-badges {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.5rem;

    .badge {
      margin-right: 8px;
      margin-bottom: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.picture-style-a {
  height: auto;
  width: 100%;
  margin: 0 0 1rem;
  padding: 0;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba($color: #000000, $alpha: 0.25);
  }

  .client-img {
    height: 100%;
    width: 100%;
  }

  .client-name {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #ffffff;
    margin: 0;
    padding: 1rem;
  }
}

.list-style-a {
  list-style-type: none;
  margin: 1rem 0;
  padding: 0;

  & > li {
    margin: 0;
    padding: 0.5rem 0;

    .cd-title {
      margin: 0;
      font-weight: $font-weight-semi;
      font-size: 1rem;
      color: $text-muted;
    }

    .cd-info {
      display: block;
      margin: 0;
      font-weight: $font-weight-semi;

      &.ellipsis {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}

.setting-meta {
  position: relative;

  ul {
    display: flex;
    list-style-type: none;
    margin: 0 0 2rem;
    padding: 0;
    width: 100%;
    overflow: auto;

    a {
      padding: 0.75rem 0;
      margin: 0 0.5rem;
      text-decoration: none;
      color: $black;
      white-space: nowrap;

      &.active {
        color: $primary;
        border-bottom: 3px solid $primary;
      }

      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }

  hr {
    border-top: 2px solid rgba(70, 70, 70, 0.1);
    position: absolute;
    bottom: -1rem;
    left: 0;
    right: 0;
  }
}

.sla-colors {
  display: flex;

  .color-item {
    border-radius: 100%;
    border-width: 3px;
    border-style: solid;
    border-color: #fff;
    cursor: pointer;
    padding: 3px;

    .color-content {
      border-radius: 100%;
      height: 1.5rem;
      width: 1.5rem;
    }

    &.active {
      border-color: blue;
    }
  }
}

.ticket-color {
  width: 7px;
}

.ticket-counter {
  position: absolute;
  right: 5px;
  top: -3px;
  font-size: 8px;
  background: #ff4747;
  border-radius: 100%;
  color: white;
  height: 14px;
  width: 14px;
  display: flex;
  align-items: center;
  justify-content: center;

  &--mobile {
    font-size: 10px;
    background: #ff4747;
    border-radius: 100%;
    color: white;
    height: 15px;
    width: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 3px;
  }
}

.upload-wrapper {
  padding: 1rem;
  border: 3px dashed #cccccc;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  h3 {
    color: #cccccc;
    padding: 10rem 1rem;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      background: #eee;
      padding: 0.5rem 1rem;
      border-radius: 5px;
      display: flex;
      align-items: center;
    }
  }
}

.large-attm {
  background: rgba($color: #000000, $alpha: 0.5);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 2rem;

  img {
    border-radius: 0.5rem;
    cursor: default;
    object-fit: contain;
    height: auto;
    width: auto;
    max-height: 90%;
    max-width: 70%;
  }
}

.page-title {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.burger {
  cursor: pointer;
  height: 13px;
  width: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .burger--item {
    height: 2px;
    background: $gray-900;

    &:nth-child(1) {
      width: 100%;
    }
    &:nth-child(2) {
      width: 75%;
    }
    &:nth-child(3) {
      width: 50%;
    }
  }

  &:hover {
    .burger--item {
      animation-duration: 400ms;
      animation-timing-function: ease-in;
      animation-delay: 0s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-fill-mode: forwards;

      &:nth-child(1) {
        animation-name: wiggle-to-left;
      }
      // &:nth-child(2) { animation-name: wiggle-to-right; }
      &:nth-child(3) {
        animation-name: wiggle-to-right;
      }
    }
  }
}

@keyframes wiggle-to-left {
  // from { }
  to {
    width: 50%;
  }
}

@keyframes wiggle-to-right {
  // from { }
  to {
    width: 100%;
  }
}
