/**
 * FiliPay Live Chat Custom SCSS
 * This will apply on everything. Good for global styles.
 * 
 * @developer Alfredo Flores
 * @email alfredo@xerosoft.com
 */

@import "./bootstrap/bootstrap.scss";

html,
body,
#xerodesk-portal {
  background: #f5f5f5;
  scroll-behavior: smooth;
}

@import "./components/datatable";
@import "./components/form-alert";
@import "./components/transition";

@import "./utilities/cursor";
@import "./utilities/flex";
@import "./utilities/font-size";
@import "./utilities/object-fit";

@import "./layouts/guest-auth";
// @import "./layouts/guest-default";

@media (min-height: 600px) {
  html,
  body,
  #xerodesk-portal {
    height: 100%;
  }
}

// @media (min-width: 576px) {}
// @media (min-width: 768px) {}
// @media (min-width: 992px) {}
// @media (min-width: 1200px) {}
