/**
* FiliPay Ticket Custom SCSS
* This will apply on everything. Good for global styles.
* 
* @developer Alfredo Flores
* @email alfredo@xerosoft.com
*/

@import "./bootstrap/_variables.scss";

.card-ticket {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.card-ticket .card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-ticket .card-body {
  position: relative;
  display: flex;
  padding: 0px;

  .ticket-messages {
    transition: all 300ms ease;
    background: #ffffff;
    width: 100%;
    padding: 1.25rem 0 0;
    overflow-y: auto;
    margin-bottom: 70px;

    .message-bubble {
      display: flex;
      margin: 10px 0px;
      width: 100%;

      .message-content {
        border-radius: 4px;
        font-size: 14px;
        position: relative;
        width: auto;
        line-height: 18px;
        max-width: 100%;
        display: flex;
        align-items: center;

        .message-group {
          display: flex;
          flex-direction: column;

          .message-rpy {
            background: #f5f5f5;
            padding: 8px 10px 8px 18px;
            font-size: 12px;
            position: relative;
            width: max-content;

            &::after {
              content: "";
              position: absolute;
              left: 10px;
              top: 8px;
              width: 3px;
              height: calc(100% - 16px);
            }

            p:first-child {
              margin-top: 0px;
            }

            p:last-child {
              margin-bottom: 0px;
            }
          }
          .message-dtls {
            display: flex;
            align-items: center;

            &--reply {
              .action {
                cursor: pointer;
                padding: 5px;
                background: #eee;
                border-radius: 100%;
                border: 0;
              }
            }
            &--content {
              clear: both;
              word-break: break-all;
              padding: 10px 15px 10px 15px;

              p:first-child {
                margin-top: 0px;
              }

              p:last-child {
                margin-bottom: 0px;
              }
            }
          }
          .message-clear {
            clear: both;
          }
          .message-attm {
            display: flex;
            align-items: center;
            overflow-x: auto;

            &--reply {
              display: flex;

              .action {
                cursor: pointer;
                padding: 5px;
                background: #eee;
                border-radius: 100%;
                border: 0;
              }
            }

            &--item {
              border-radius: 5px;
              overflow: hidden;
              position: relative;
              display: flex;
              align-items: center;
              flex-grow: 0;
              flex-shrink: 0;
              flex-basis: 200px;
              width: 200px;

              &-image {
                cursor: pointer;
                padding: 0;

                img {
                  object-fit: cover;
                  display: block;
                  height: 100%;
                  width: 100%;
                }
              }

              &-file {
                display: flex;
                align-items: center;
                padding: 10px 15px;
                width: 100%;
              }

              &-icon {
                cursor: pointer;
                padding: 10px 7px 7px;
                background: #ccc;
                border-radius: 5px;
                margin-right: 10px;
              }

              &-name {
                cursor: pointer;
                overflow: hidden;

                span {
                  -webkit-box-orient: vertical;
                  -webkit-line-clamp: 2;
                  display: -webkit-box;
                  line-height: 16px;
                }

                &:hover {
                  text-decoration: underline;
                }
              }

              &-remove {
                border-radius: 100%;
                background: #ccc;
                cursor: pointer;
                padding: 3px;
                height: 15px;
                width: 15px;

                display: flex;
                align-items: center;
                justify-content: center;

                position: absolute;
                top: -5px;
                right: -5px;
              }
            }
          }
          .message-date {
            font-size: 0.75rem;
            margin: 5px 0px;
          }
        }
      }

      &.from-admin {
        padding-left: 20%;
        padding-right: 20px;
        justify-content: flex-end;

        .message-content {
          color: #ffffff;
          margin-left: auto;
          flex-direction: row;

          .message-group {
            .message-rpy {
              background-color: rgba($color: $brand-2, $alpha: 0.75);
              align-self: flex-end;

              &::after {
                background: $brand-2;
              }
            }
            .message-dtls {
              flex-direction: row;
              justify-content: flex-end;

              &--reply {
                margin-right: 10px;
              }
              &--content {
                background-color: $brand-2;
                float: right;
              }
            }
            .message-attm {
              flex-direction: row;

              &--reply {
                .action {
                  margin-right: 10px;
                }
              }

              &--item {
                background-color: $brand-2;
              }
            }
            .message-date {
              color: #646464;
              text-align: right;
            }
          }
        }
      }
      &.from-client {
        padding-right: 20%;
        padding-left: 20px;
        justify-content: flex-start;

        .message-content {
          color: #646464;
          margin-right: auto;
          flex-direction: row-reverse;

          .message-group {
            .message-rpy {
              background-color: rgba($color: #ebebeb, $alpha: 0.75);
              align-self: flex-start;

              &::after {
                background: #ccc;
              }
            }
            .message-dtls {
              flex-direction: row-reverse;
              justify-content: flex-end;

              &--reply {
                margin-left: 10px;
              }
              &--content {
                background-color: #ebebeb;
                float: left;
              }
            }
            .message-attm {
              flex-direction: row-reverse;

              &--reply {
                display: flex;
                flex-direction: row-reverse;

                .action {
                  margin-left: 10px;
                }
              }

              &--item {
                background-color: #ebebeb;
              }
            }
            .message-date {
              color: #646464;
              text-align: left;
            }
          }
        }
      }
      &.from-session {
        text-align: center;
        align-items: center;
        justify-content: center;

        .message-content {
          .message-group {
            .message-dtls {
              padding-bottom: 0;

              &--content {
                padding: 0;
              }
            }
            .message-date {
              margin-top: 2px;
            }
          }
        }
      }

      &:last-child {
        margin-bottom: 0px;
      }
    }
    .message-reply {
      transition: all 300ms ease;
      background-color: #ffffff;
      border-top: none;
      width: 100%;
      position: absolute;
      bottom: 0px;

      .reply-to-wrapper {
        padding: 16px 16px 0px 16px;

        .reply-to-meta {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 10px;

          .replying-to {
            margin: 0px;
          }

          .close {
            cursor: pointer;
            border-radius: 100%;
            background: #ccc;
            padding: 2px;
          }
        }

        .reply-to-body {
          display: flex;

          .quote {
            background: #ccc;
            width: 3px;
          }

          .content {
            background: #eee;
            padding: 13px;
            flex-grow: 1;

            p:first-child {
              margin-top: 0px;
            }

            p:last-child {
              margin-bottom: 0px;
            }
          }
        }
      }

      .session-input {
        outline: none;
        border: none;
        padding: 0px;
        font-size: 0.9rem;
        margin-left: 10px;

        &:focus {
          box-shadow: none;
        }
      }

      .editor {
        margin-left: 5px;
        width: 100%;
        word-break: break-all;
        max-height: 108px;
        overflow: auto;
      }
    }
  }
  .ticket-metas {
    transition: all 300ms ease;
    background: #ffffff;
    width: 100%;
    height: 100%;
    padding: 1.25rem;

    position: absolute;
    left: 0;
    overflow-y: auto;
  }

  &.isMetaOpen {
    .ticket-messages {
      width: 100%;
    }
    .ticket-metas {
      left: 100%;
    }
  }
}

.datalist {
  list-style-type: none;
  margin: 10px 0px 0px 0px;
  padding: 0.25rem 0px;
  border: 1px solid #ced4da;
  border-radius: 3px;

  li {
    cursor: pointer;
    padding: 0.25rem 0.75rem;
  }
}

@mixin tablet-and-up {
  @media screen and (min-width: 769px) {
    @content;
  }
}

@mixin mobile-and-up {
  @media screen and (min-width: 601px) {
    @content;
  }
}

@mixin tablet-and-down {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mobile-only {
  @media screen and (max-width: 600px) {
    @content;
  }
}

.timeline {
  margin: 12px 0px;
  padding: 0px;
  border-radius: 12px;
  position: relative;

  li {
    padding-bottom: 1.5rem;
    border-left: 2px solid $brand-2;
    position: relative;
    padding-left: 20px;
    margin-left: 10px;
    list-style-type: none;

    &:before {
      content: "";
      width: 18px;
      height: 18px;
      background: #fff;
      border: 3px solid $brand-2;
      // box-shadow: 3px 3px 0px #bab5f8;
      border-radius: 50%;
      position: absolute;
      left: -10px;
      top: 0px;
    }

    &:last-child {
      border: 0px;
      padding-bottom: 0;

      &:before {
        left: -8px;
      }
    }
  }

  .time {
    font-weight: 400;
    transform: translateY(-1px);

    @include mobile-and-up {
      font-size: 0.9rem;
    }

    @include mobile-only {
      margin-bottom: 0.3rem;
      font-size: 0.85rem;
    }
  }

  .content {
    font-weight: 400;
    transform: translateY(-1px);
    font-size: 14px;

    p {
      margin: 0;
    }

    @include mobile-only {
      font-size: 0.9rem;
    }
  }
}

@media (min-width: 768px) {
  .card-ticket .card-body {
    .ticket-messages {
      width: 100%;
    }
    .ticket-metas {
      border-left: 1px solid #ccc;
      width: 350px;
      left: calc(100% + 350px);
    }

    &.isMetaOpen {
      .ticket-messages {
        width: calc(100% - 350px);

        .message-reply {
          width: calc(100% - 350px);
        }
      }
      .ticket-metas {
        left: calc(100% - 350px);
      }
    }
  }
}
