/**
* FiliPay Live Chat Custom SCSS
* This will apply on everything. Good for global styles.
* 
* @developer Alfredo Flores
* @email alfredo@xerosoft.com
*/

@import "../bootstrap/variables";
@import "../bootstrap/custom/switches";

@import "../components/datepicker";
@import "../components/dropdown";
@import "../components/drawer";
@import "../components/emoji-picker";
@import "../components/notification";
@import "../components/popper";

.layout-admin {
  height: 100%;

  aside {
    transition: all 200ms ease;
    width: 100%;
    max-width: 260px;
    height: 100%;
    background-color: $primary;
    position: absolute;
    left: -260px;
    z-index: 12;

    .sidebar-toggler {
      cursor: pointer;
    }
    .sidebar-logo {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: $primary;
      color: #ffffff;
      font-size: 1.25rem;

      &--big {
        padding: 0.75rem 1rem;
      }
      &--small {
        padding: 0.75rem 0.75rem;
        display: none;
      }
    }
    .sidebar-navs {
      background-color: $primary;

      ul {
        list-style-type: none;

        li {
          font-size: 14px;
          padding: 0.75rem 1rem;

          a {
            text-decoration: none;
            color: rgba($color: $white, $alpha: 0.7);
            display: flex;
            align-items: center;

            .nav-icon {
              height: 25px;
              width: 25px;
              display: flex;
              align-items: center;
              justify-content: center;
            }

            .nav-text {
              margin-left: 10px;
              align-self: flex-end;
            }

            &.router-link-active,
            &.router-link-exact-active {
              color: $white;
              font-weight: 500;
            }
          }

          .nav-child {
            font-size: 14px;
            padding: 10px 0px 0px 25px;

            li {
              position: relative;
              padding: 5px 1.5rem;

              &::before {
                position: absolute;
                content: "-";
                color: rgba($color: $white, $alpha: 0.7);
                left: 10px;
              }
            }
          }

          &:hover {
            > a {
              color: $gray-300;
            }
          }
        }
      }
    }
  }
  .aside-backdrop {
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
    visibility: hidden;
    transition: all 200ms ease;
    cursor: pointer;
  }
  main {
    transition: all 200ms ease;
    width: 100%;
    height: 100%;
    background-color: #f7f9fc;
    overflow-y: auto;

    .navbar {
      background-color: $white;
      box-shadow: $box-shadow-sm;
      z-index: 1;
    }
  }
  &.is-open {
    aside {
      left: 0;

      .sidebar-toggler {
        background-color: #ffffff;
        border-radius: 100%;
        position: absolute;
        right: -47px;
        top: 20px;
        padding: 3px;
      }
    }
    .aside-backdrop {
      background: rgba($color: #000000, $alpha: 0.75);
      visibility: visible;
    }
  }
  footer {
    text-align: center;
  }
}

/* .date-picker {
  .date-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.15);
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .date-content {
    background: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    transition: all 100ms ease;

    .date-meta {
      color: #fff;
      text-align: center;

      .day {
        background: #002868;
        padding: 0.52rem 0;
        font-size: 0.75rem;
        font-weight: 700;
      }
      .month {
        background: #35588e;
        padding: 10px 0 0;
        text-transform: uppercase;
      }
      .date {
        background: #35588e;
        padding: 0 0;
        font-size: 3rem;
        font-weight: 500;
        line-height: 3rem;
      }
      .year {
        background: #35588e;
        padding: 0 0 10px;
      }

      .arrow {
        color: rgba($color: #002868, $alpha: 0.5);
        font-weight: 700;

        &:hover {
          color: #002868;
        }
      }
    }

    .date-body {
      padding: 1rem;

      .days {
        display: grid;
        grid-template-columns: repeat(7, 1fr);

        .active {
          background: #002868;
          color: #ffffff;
          border-radius: 100%;
        }

        span {
          height: 2rem;
          width: 2rem;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }

  .fade-enter-active,
  .fade-leave-active {
    .date-content {
      opacity: 1;
      transform: scale(1);
    }
  }

  .fade-enter,
  .fade-leave-to {
    .date-content {
      opacity: 0;
      transform: scale(0.85);
    }
  }
}

.time-picker {
  .time-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.15);
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .time-content {
    background: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    transition: all 100ms ease;

    .time-meta {
      color: #fff;
      text-align: center;

      .time-meta-1 {
        background: #002868;
        padding: 0.52rem 0;
        font-size: 0.75rem;
        font-weight: 700;
      }
      .time-meta-2 {
        background: #35588e;
        padding: 1rem 2rem;
        display: flex;
        align-items: center;
        justify-content: center;

        .text {
          font-size: 3rem;
          font-weight: 500;
          line-height: 3rem;

          &.amp {
            margin-bottom: 0.5rem;
          }
        }
      }

      .arrow {
        color: rgba($color: #002868, $alpha: 0.5);
        font-weight: 700;

        &:hover {
          color: #002868;
        }
      }
    }
    .time-body {
      padding: 1rem;

      .days {
        display: grid;
        grid-template-columns: repeat(7, 1fr);

        .active {
          background: #002868;
          color: #ffffff;
          border-radius: 100%;
        }

        span {
          height: 2rem;
          width: 2rem;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }

  .fade-enter-active,
  .fade-leave-active {
    .time-content {
      opacity: 1;
      transform: scale(1);
    }
  }

  .fade-enter,
  .fade-leave-to {
    .time-content {
      opacity: 0;
      transform: scale(0.85);
    }
  }
} */

.card-picture-1 {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.75) 0 100%), url("/images/template/bg-profile.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 50%;
  margin-bottom: 1.25rem;
  position: relative;

  .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0rem;
    text-align: center;

    .picture-container {
      max-height: 175px;
      max-width: 175px;
      height: 100%;
      width: 100%;
      border-radius: 100%;
      position: relative;
      margin-bottom: 1rem;
      overflow: hidden;

      img {
        height: 100%;
        width: 100%;
      }

      button {
        background: rgba($color: #000, $alpha: 0.5);
        color: #fff;
        height: 50%;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        opacity: 0.5;
        transition: all 100ms ease-in;
        outline: none;
        border: none;

        &:hover {
          background: rgba($color: #000, $alpha: 0.75);
        }
      }

      .loader {
        background: rgba($color: #000, $alpha: 0.5);
        color: #fff;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;
        transition: all 100ms ease-in;
        outline: none;
        border: none;

        display: flex;
        align-items: center;
        justify-content: center;
      }

      &:hover {
        button {
          opacity: 1;
        }
      }
    }
    .picture-detail {
      .name {
        color: $primary;
        margin-bottom: 1rem;
      }
      .info {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
      }
    }
  }
}

.card-picture-2 {
  .card-body {
    background: rgba($color: #000000, $alpha: 0.25);
  }
}

.card-settings {
  margin-bottom: 3rem;

  &-title {
    margin-bottom: 1rem;
  }

  .card-setting {
    height: 100%;
    background: $white;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: $box-shadow-sm;
    text-align: center;

    .title {
      margin-top: 0.5rem;
      margin-bottom: 1.35rem;
    }
    .sub_title {
      padding-left: 1.25rem;
      padding-right: 1.25rem;
    }

    .inline-svg {
      color: #bec8d4;
    }

    &:hover {
      box-shadow: $box-shadow;

      .inline-svg {
        color: #23538f;
      }
    }
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.tag-container {
  .tag-lookup {
    font-size: 1rem;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 0.25rem;
    margin-top: 2.5px;
    padding: 0.25rem 0;

    .list-unstyled {
      margin: 0;

      li {
        padding: 0.25rem 1.25rem;

        &.list-item:hover {
          background: #cccccc;
        }
      }
    }
  }

  .tag-badges {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.5rem;

    .badge {
      margin-right: 8px;
      margin-bottom: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.picture-style-a {
  height: auto;
  width: 100%;
  margin: 0 0 1rem;
  padding: 0;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba($color: #000000, $alpha: 0.25);
  }

  .client-img {
    height: 100%;
    width: 100%;
  }

  .client-name {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #ffffff;
    margin: 0;
    padding: 1rem;
  }
}

.list-style-a {
  list-style-type: none;
  margin: 1rem 0;
  padding: 0;

  & > li {
    margin: 0;
    padding: 0.5rem 0;

    .cd-title {
      margin: 0;
      font-weight: $font-weight-semi;
      font-size: 1rem;
      color: $text-muted;
    }

    .cd-info {
      display: block;
      margin: 0;
      font-weight: $font-weight-semi;

      &.ellipsis {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}

.sla-colors {
  display: flex;

  .color-item {
    border-radius: 100%;
    border-width: 3px;
    border-style: solid;
    border-color: #fff;
    cursor: pointer;

    .color-content {
      border-radius: 100%;
      height: 1.5rem;
      width: 1.5rem;
    }

    &.active {
      border-color: $gray-600;
    }
  }
}

.ticket-color {
  width: 7px;
}

.ticket-counter {
  position: absolute;
  top: -5px;
  right: -15px;
  font-size: 8px;
  background: #ff4747;
  border-radius: 100%;
  color: white;
  height: 14px;
  width: 14px;
  display: flex;
  align-items: center;
  justify-content: center;

  &--mobile {
    font-size: 10px;
    background: #ff4747;
    border-radius: 100%;
    color: white;
    height: 15px;
    width: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 3px;
  }
}

.upload-wrapper {
  padding: 1rem;
  border: 3px dashed #cccccc;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  h3 {
    color: #cccccc;
    padding: 10rem 1rem;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      background: #eee;
      padding: 0.5rem 1rem;
      border-radius: 5px;
      display: flex;
      align-items: center;
    }
  }
}

.la-wrapper {
  background: rgba($color: #000000, $alpha: 0.5);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 12;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto;

  .la-content {
    position: relative;
    max-height: 100%;
    max-width: 70%;

    .la-close {
      position: absolute;
      right: -30px;
      top: 30px;
      cursor: pointer;
    }
    .la-image {
      border-radius: 0.5rem;
      cursor: default;
      object-fit: contain;
      height: 100%;
      width: 100%;
      margin: 2rem 0;
    }
  }
}

.page-title {
  width: 100%;
  margin-bottom: 1.5rem;
  padding: 1rem 1.5rem;
  background-color: $white;
  border-bottom: 1px solid $gray-300;

  h4 {
    margin-bottom: 0;
  }
}

.burger {
  cursor: pointer;
  height: 13px;
  width: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .burger--item {
    height: 2px;
    background: $gray-900;

    &:nth-child(1) {
      width: 100%;
    }
    &:nth-child(2) {
      width: 75%;
    }
    &:nth-child(3) {
      width: 50%;
    }
  }

  &:hover {
    .burger--item {
      animation-duration: 400ms;
      animation-timing-function: ease-in;
      animation-delay: 0s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-fill-mode: forwards;

      &:nth-child(1) {
        animation-name: wiggle-to-left;
      }
      // &:nth-child(2) { animation-name: wiggle-to-right; }
      &:nth-child(3) {
        animation-name: wiggle-to-right;
      }
    }
  }
}

.social-media {
  display: flex;
  align-items: center;

  a {
    text-decoration: none;

    .fab {
      padding: 1rem;
      border: 3px solid $white;
      border-radius: 100%;
      color: $white;
      height: 20px;
      width: 20px;
      display: flex;
      align-items: center;
      justify-content: center;

      &.fa-facebook-f {
        background: #4267b2;
      }
      &.fa-twitter {
        background: #1da1f2;
      }
      &.fa-linkedin-in {
        background: #0073b0;
      }
    }

    &:not(:first-child) {
      margin-left: -15px;
    }
  }
}

.account-page {
  height: calc(100% - 69px);
  display: flex;

  .aside {
    width: 100%;
    max-width: 300px;
    padding: 1.75rem 1.5rem;
    border-right: 1px solid rgba($color: #ccc, $alpha: 0.25);
    background-color: $white;

    .nav {
      margin-bottom: 2rem;

      .nav-link {
        width: 100%;
        padding: 0.75rem 0;
        color: $black;

        .fas {
          color: #307b90;
        }

        &:hover {
          color: #307b90;
        }
      }
    }
  }
  .main {
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

.link-unstyled,
.link-unstyled:link,
.link-unstyled:hover {
  color: inherit;
  text-decoration: inherit;
}

@keyframes wiggle-to-left {
  // from { }
  to {
    width: 50%;
  }
}

@keyframes wiggle-to-right {
  // from { }
  to {
    width: 100%;
  }
}

// @media (min-width: 576px) {}
@media (min-width: 768px) {
  .layout-admin {
    aside {
      left: 0;

      .sidebar-toggler {
        display: none;
      }
    }
    .aside-backdrop {
      display: none;
    }
    main {
      transition: all 200ms ease;
      margin-left: 260px;
      width: calc(100% - 260px);
    }
    &.is-open {
      aside {
        max-width: 90px;

        .sidebar-logo {
          &--big {
            display: none;
          }
          &--small {
            display: block;
            margin: auto;
          }
        }
        .sidebar-navs {
          > ul {
            > li {
              position: relative;
              padding: 0.75rem 0px;

              > a {
                display: flex;
                flex-direction: column;
                align-items: center;

                .nav-text {
                  margin-left: 0px;
                  align-self: center;
                  font-size: 12px;
                }
              }

              .collapse {
                display: none;
                position: absolute;
                top: 0;
                left: 90px;
                background-color: $primary;
                width: max-content;

                .nav-child {
                  padding: 0.75rem 0;
                }
              }

              &:hover {
                .collapse {
                  display: block;
                }
              }
            }
          }
        }
      }
      main {
        margin-left: 90px;
        width: calc(100% - 90px);
      }
    }
    footer {
      text-align: left;
    }
  }
}
@media (min-width: 992px) {
  .card-picture-1 {
    background-size: contain;

    .card-body {
      display: flex;
      align-items: center;
      flex-direction: row;
      padding: 3rem 0rem;
      text-align: left;

      .picture-container {
        margin-bottom: 0;
      }
      .picture-detail {
        margin-left: 2rem;

        .info {
          justify-content: flex-start;
        }
      }
      // flex-direction: column;
      // align-items: center;
      // padding: 3rem 2rem 3rem 2rem;
    }
  }
}
// @media (min-width: 1200px) {}
