// Datatable.vue Component
.client-datatable,
.server-datatable {
  .table-responsive {
    overflow-x: visible;
  }

  thead {
    background: #f1f1f1;

    th {
      text-transform: uppercase;
      font-size: 0.85rem;
      font-weight: $font-weight-semi;

      &:not(:first-child) {
        display: none;
      }
    }
  }

  tbody {
    .dt-mobile {
      position: relative;

      .dt-mobile-item {
        display: flex;
        align-items: center;

        .title {
          font-weight: bold;
          text-align: right;
          width: 40%;
        }

        .content {
          font-weight: normal;
          text-align: left;
          width: 60%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          margin-left: 5px;
        }
      }

      // for sla only
      .sla-mobile {
        position: absolute;
        left: 10px;
        top: 10px;
        bottom: 0;
        width: 5px;
        height: calc(100% - 20px);
      }
    }

    tr {
      td {
        .dropdown-menu {
          &.show {
            z-index: 99999;
          }
        }

        &:not(:first-child) {
          display: none;
        }
      }

      &.hoverable {
        &:hover {
          background-color: #f1f1f1;
        }
      }
    }

    // for table ticket only
    .updater {
      left: 0;
      right: 0;
      top: 0;
      position: absolute;
      text-align: center;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;

      .updater-content {
        background: #4d83ff;
        border-radius: 2rem;
        color: #ffffff;
        cursor: pointer;
        padding: 0.25rem 0.75rem;
        display: inline-block;
      }
    }
  }
}

@media (min-width: 768px) {
  .client-datatable,
  .server-datatable {
    thead {
      th {
        &:first-child {
          display: none;
          text-align: center;
        }

        &:not(:first-child) {
          display: table-cell;
        }
      }
    }

    tbody {
      // because the tr with text-sm is where the data leaves
      // without text-sm, it will affect the loader
      // dont mind the class name text-sm, you can change it
      tr.text-sm {
        td {
          &:first-child {
            display: none;
          }

          &:not(:first-child) {
            display: table-cell;
          }
        }
      }
    }
  }
}
