.drawer-backdrop {
  background: rgba(0, 0, 0, 0.25);
  cursor: pointer;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;

  .drawer-container {
    cursor: default;
    background: #ffffff;
    position: absolute;
    height: 100%;
    width: 100%;
    max-width: 450px;
    padding: 3rem 2rem;
    overflow: auto;

    .drawer-close {
      cursor: pointer;
      position: absolute;
      top: 2rem;
      right: 2rem;
      height: 30px;
      width: 30px;
      background: #f2f2f2;
      border-radius: 100%;
      padding: 3px;

      &:hover {
        background: #e6e6e6;
      }
    }

    &--left {
      left: 0;
    }

    &--right {
      right: 0;
    }
  }
}
