.cd {
  cursor: pointer;
  position: relative;
  width: max-content;

  &.disabled {
    cursor: not-allowed;
  }
}

.cdc {
  position: absolute;
  margin-top: 1rem;
  background: #fff;
  border-radius: 0.25rem;
  box-shadow: 0 2px 18px 0 rgba(18, 52, 77, 0.16), 0 2px 4px 0 rgba(18, 52, 77, 0.06);
  transform-origin: top right;
  overflow: auto;
  width: max-content;
  max-height: 265px;
  z-index: 3;

  &.left { left: 0; }
  &.right { right: 0; }

  .filter {
    padding: 0.25rem 0.4rem;
    border-bottom: 1px solid $gray-300;

    input {
      border: 0;
      border-radius: 0;
    }
  }
  .content {
    cursor: default;
    padding: 0.5rem 0.65rem;
  }
}

.cdci {
  display: block;
  border-radius: 0.25rem;
  font-size: $text-sm;
  padding: 0.25rem 0.5rem;
  text-decoration: none !important;
  color: $gray-900;

  &:hover {
    background: #dddddd;
    color: $gray-900;
  }
}

.cdc-enter-active,
.cdc-leave-active {
  transition: all 300ms;
}
.cdc-enter,
.cdc-leave-to {
  opacity: 0;
  transform: translateY(-10px);
}
